#binaries
*.o
*.so
cascadeTest
cascadePrint
realizeCascades
evalCascades

#root files
*.root

#directories
.vscode
*/__pycache__
test-example/__pycache__
docs/build

#checkpoints and caching
*-checkpoint.*
**.pyc
**__pycache__
test-example/__pycache__
test-example/.ipynb_checkpoints
**.ipynb_checkpoints
test-example/__pycache__/*.pyc
