#binaries
*.o
*.so
cascadeTest
cascadePrint
realizeCascades
evalCascades
regexPlayground

#root files
*.root

#directories
.vscode
*/__pycache__
test-example/__pycache__
docs/build
tests/bin/*
!tests/bin/*.*
tests/*_output.txt
.jupyter/

#checkpoints and caching
*-checkpoint.*
**.pyc
**__pycache__
test-example/__pycache__
test-example/.ipynb_checkpoints
**.ipynb_checkpoints
test-example/__pycache__/*.pyc

#coverage info
*.gcda
*.gcno
app.info
nrCascadeSim_coverage.info
7/
amber.png
ruby.png
emerald.png
glass.png
snow.png
updown.png
gcov.css
index.html
index-sort-f.html
index-sort-l.html
home/
mnt/
out/
coverage/
codecov
#codecov.*

#CMake files
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.save
bin/*CMake**
cmake_install.cmake
Makefile

#other stuff
tests/inputfile.txt

